%header
  .max-container
    %h1 Mi Primera App
    %nav
      %ul.nav.nav-pills
        %li{:role => "presentation"}
          %a{:href => "#"} Ingresar
        %li.active{:role => "presentation"}
          %a{:href => "#"} Registrarse

%section.mvp
  .max-container
    %h2 Empieza tu experiencia con nosotros
    %h4 Obtén la experiencia necesaria para tu búsqueda de conocimiento y un futuro trabajo.

%section.how-it-works
  .max-container
    %h2.subtitulos ¿QUÉ HACEMOS?
    .work__container
      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://www.sysde.com/wp-content/uploads/2014/02/icon_Sysde-300x300.png' }
        %h4 Proyectos
        %p Buscamos empresas o instituciones que tenga proyectos y quieran brindar la oportunidad de trabajo.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://th30.st.depositphotos.com/1001599/12633/v/450/depositphotos_126331260-stock-illustration-business-people-talking-vector-illustration.jpg' }
        %h4 Manager
        %p Buscamos personas que tengan el conocimiento para guiar al equipo de desarrollo.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://www.iconsfind.com/wp-content/uploads/2016/10/20161014_58006c2bc4252.png' }
        %h4 Equipo
        %p Estará conformado por ti y otras personas que también quieran aumentar su experiencia.

%section.what-you-win
  .max-container
    %h2.subtitulos BENEFICIOS
    .win__container
      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'https://www.skillema.ir/img/icons/Circle-icons-browser.png' }
        %h4 Certificación
        %p El incremento de tu conocimiento estará reflejada en la experiencia la cual será certificada por la insitución.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://www.plataforma-capital.com/images/icon/icon3.png' }
        %h4 Contactos
        %p Incrementar la capacidad de trabajar en equipo aumentando tu red de contactos.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'https://resumegenius.com/wp-content/uploads/2014/09/briefcase-icon.png' }
        %h4 Experiencia
        %p Obtener mayor experiencia al poder compartir conocimiento con un equipo real.

%footer
  .max-container
    %small RRR Team
