%header
  .max-container
    %h1
      %a.text-white{href: '/'} Mi primera App
    %nav
      %ul.nav.nav-pills
        %li{:role => "presentation"}
          %a{:href => "/login"} Ingresar

%section.mvp
  .max-container
    %h2 Empieza tu experiencia con nosotros
    %h3 Que la falta de años de experiencia trabajando no sea más un problema.

%section.how-it-works
  .max-container
    %h2.subtitulos ¿QUÉ HACEMOS?
    .work__container
      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://www.sysde.com/wp-content/uploads/2014/02/icon_Sysde-300x300.png' }
        %p Buscamos empresas o instituciones que tenga proyectos y quieran brindar la oportunidad de trabajo.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://th30.st.depositphotos.com/1001599/12633/v/450/depositphotos_126331260-stock-illustration-business-people-talking-vector-illustration.jpg' }
        %p Buscamos personas que tengan el conocimiento para guiar al equipo de desarrollo

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'http://www.iconsfind.com/wp-content/uploads/2016/10/20161014_58006c2bc4252.png' }
        %p El cuál estará conformado por ti y otras personas que también quieran aumentar su experiencia.

%section.what-you-win
  .max-container
    %h2.subtitulos BENEFICIOS
    .win__container
      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'https://previews.123rf.com/images/topvectors/topvectors1609/topvectors160900019/62068684-Educaci-n-Como-Idea-felicidad-personal-Mujer-en-la-graduaci-n-con-el-diploma-Manto-simple-ilustraci--Foto-de-archivo.jpg' }
        %p Experiencia que estará certificada por la institución a la que trabajaste.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'https://previews.123rf.com/images/sentavio/sentavio1606/sentavio160600426/58836013-l-nea-arte-lineal-idea-de-estilo-plano-de-intercambio-de-ideas-concepto-de-equipo-creativo-ilustraci-Foto-de-archivo.jpg' }
        %p Aumentar tus redes de contactos.

      %article.work__step.panel.panel-default
        .img-container
          %img{ src: 'https://img.clipartfest.com/5d932dc9899cc5ce3612bd65c27709ec_friends-illustration-of-kids-group-of-boy-friends-clipart_1300-1238.jpeg' }
        %p La experiencia de formar un equipo real haciendo proyectos reales para la sociedad.

%footer
  .max-container
    %small RRR Team
