%header
  .max-container
    %h1 Mi primera App
    %nav
      %ul.nav.nav-pills
        %li{:role => "presentation"}
          %a{:href => "#"} Ingresar
        %li.active{:role => "presentation"}
          %a{:href => "#"} Registrarse

%section.mvp
  .max-container
    %h2 Lorem ipsum dolor sit amet
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
