%header
  .max-container
    %h1 Mi primera App
    %nav
      %ul.nav.nav-pills
        %li{:role => "presentation"}
          %a{:href => "#"} Ingresar
        %li.active{:role => "presentation"}
          %a{:href => "#"} Registrarse
