.profile
  .max-container
    %section
      .profile__img
        %img{ src: "http://lorempixel.com/200/200/people" }
      %h2.profile__name Luis Lopez
      %p.profile__bio Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %section
      %h4 Skills
      %ul.skills
        %li.skill.btn.btn-default HTML
        %li.skill.btn.btn-default CSS
        %li.skill.btn.btn-default JS
        %li.skill.btn.btn-default PHP
        %li.skill.btn.btn-default Ruby
        %li.skill.btn.btn-default Python
    %section
      %h4 Proyectos realizados
      .projects
        %figure.project
          %img{ src: "http://lorempixel.com/300/200/city" }
          %figcaption Proyecto A
        %figure.project
          %img{ src: "http://lorempixel.com/300/200/city" }
          %figcaption Proyecto B
        %figure.project
          %img{ src: "http://lorempixel.com/300/200/city" }
          %figcaption Proyecto C
        %figure.project
          %img{ src: "http://lorempixel.com/300/200/city" }
          %figcaption Proyecto D
